.home-background {
  background-image: url("../../../templates/general/Images/sunrise on oval.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-header {
  color: #fff;
  display: inline;
  font-family: sans-serif;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.home-bar {
  float: left;
  padding-right: 52px;
}

.settings-header {
  font-weight: bold;
  color: black;
}

ul {
  list-style-type: none;
}
