<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>


    <meta charset="utf-8">



    <title>ALT</title>



  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .h1{
    font-size: 70px;
  }



  .taskbar {
    overflow: hidden;
    background-color: #70392D;
  }

  .taskbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .taskbar a:hover {
    background-color: #000000;
    color: white;
  }

  .taskbar a.active {
    background-color: #8C8C8C;
    color: white;
  }
  
  .checkboxgroup {
  display: inline-block;
  text-align: center;
  }
  .checkboxgroup label {
  display: block;
  }
  </style>

</head>





<body>
<div class="w3-container" >
  <div class = "taskbar">
        <a href="#home">Home</a>

        <a style="float:right;" href="#signout">Sign out</a>
  </div>  <!--close acount taskbar-->


  <div class="taskbar">
    <a href="#viewdata">View Data</a>
    <a href="#recordaudio">Record Audio</a>
    <a href="#uploadaudio">Upload Audio</a>
    <a class = "active" ">Rate Data</a>
    <a href="#about">About</a>
    <a style="float:right;" href="#settings">Settings</a>

  </div>  <!--close nav taskbar-->
</div> <!--close nav container-->

<div class="w3-container" > <!-- container to enclose the rest of the body, to add margins -->

  <div class="w3-col" style="width:150px">
    <label style="padding: 5 px">Search</label>
    <input class="w3-input w3-border w3-animate-input" type="text" >
  </div> <!--close search area-->
  <div class="w3-rest" style="text-align: center;">
    <h2>Rate Data</h2>
  </div>  <!--close heading-->

  <div class="w3-responsive" style="padding: 5px">
    <div class = "w3-threequarter">
      <table class="w3-table-all">
        <thead>
          <tr>
            <th class='text-center'>User</th>
            <th class='text-center'>Text</th>
            <th class='text-center'>Date</th>
            <th class='text-center'>Researcher</th>
            <th class='text-center'> </th>
            <th class='text-center'><input class="w3-check" type="checkbox"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td>Jill Smith</td>
            <td>犬</td>
            <td>7/20/20</td>
            <td>M.Miyashita</td>
            <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
            <td><input class="w3-check" type="checkbox"></td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><button class="w3-button w3-med w3-white w3-border w3-round">Submit</button></td>
            </tr>
        </tbody>
      </table>

    </div><!--close table three quarter-->
    <div class="w3-quarter style="padding: 0 px">
      <div class="w3-container" style=" border-radius: 25px; padding: 0px; border: solid 1px grey; text-align: center">
        <div style="display: inline-block; padding: 0px; width: 100%; ">
          <h6 style="text-align: center">User  |  Researcher</h3>
          <h3 style="text-align: center">J. Smith |  M. Miyashita</h3>
          <div style="border: solid 1px grey; border-radius: 5px; padding: 2px">
            <input  style = "" type = "image" src = "Images/play.jpg" alt = "submit" width="32" height="32"></input>
          </div> <!--close input (play button) div-->
          <div style="border: solid 1px grey; border-radius: 5px; padding: 2px">
              <div class="w3-bar">
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="1">
                  <label for="my_radio_button_id2">1</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="2">
                  <label for="my_radio_button_id2">2</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="3">
                  <label for="my_radio_button_id2">3</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="4">
                  <label for="my_radio_button_id2">4</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="5">
                  <label for="my_radio_button_id2">5</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="6">
                  <label for="my_radio_button_id2">6</label>
                </div>
                <div class="checkboxgroup">
                  <input class="w3-radio" type="radio" name="radiorating" value="7">
                  <label for="my_radio_button_id2">7</label>
                </div>
              </div> <!-- close radio button bar -->
          </div> <!--close mystery 000000s div-->
          <div >
            <h3>Comments</h3>
          </div>
          <textarea rows="10" cols="30" style="border: solid 1px grey; border-radius: 25px; padding: 3px; width: 90%;" >
          Great job!
          </textarea>
        </div><!--close inline block div-->
      </div><!--close w3-container-center-->
    </div><!--close w3-quarter-->
  </div><!--close w3-responsive-->
</div> <!-- close main body container -->
</body>
</html>
