/*General*/

/*Better font sizes for data*/
td, th {
  font-size: 120%;
}

.hide {
  display: none;
}
.max-w-50vw {
  max-width: 50vw!important;
}

 body {
   font-family: Arial, Helvetica, sans-serif;
 }

 .hide {
   display: none;
 }

 .force-hide {
   display: none!important;
 }

/*Headers*/
#simpleHeader {
  font-family: sans-serif;
  font-weight: bold;
}

#fancyHeader {
  text-align: center;
  margin-right: 12vh;
  font-weight: 900;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mainHeader {
  text-align: left;
  padding-left: 1em;
  font-family: sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fancyText {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Navigation Bar*/
#navigationBar {
  background-color: #5e001d;
  color: white;
}

#navigationButtons a, #navigationButtons button {
  border-top: 1px solid #777777;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #444444;
  border-left: 1px solid #777777;
}

#navigationButtons a:hover, #navigationButtons button:hover{
  border: 1px solid black;
}

/*Forms*/
/*Login*/
.loginForm {
  margin-top: 8vh;
}

.loginForm input {
  margin: 0em;
  margin-bottom: 0.5em;
}

.loginForm h2 {
  font-weight: bold;
}

.loginForm button {
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 4px;
}

.signUpForm form {
  padding: 1em;
  border: 3px solid #262626;
  border-radius: 1em;
  background-color: #acb5b3;
  width: 80%;
  margin: 0 auto;
}

/*Sign-Up*/
#signUpForm {
  height: auto;
  margin-top: 20vh;
}

.signUpForm h1 {
  font-weight: bold;
}

.signUpForm label, input, select {
  display: inline-block;
  margin-left: 2em;
}

.signUpForm label {
  width: 33%;
  text-align: right;
}

.signUpForm input:focus {
  border-color: #000;
}

.signUpForm button {
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 4px;
}

.audioForm button {
  border: 2px solid black;
  border-radius: 4px;
}
