<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ALT About Us</title>
</head>

<body>
    <div class="w3-grey w3-bottom w3-left w3-right w3-top">
        <div class="w3-top w3-left w3-right">
            <div class="" style="background-color:#5e001d">
                <a href="./HomePage.html"><img src="Images/alr example logo.jpg" class="w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" alt="ALT Logo"></a>
            </div>
            <div class="w3-container w3-light-grey">
                <div class="w3-container w3-third">
                    <h3 class="w3-left">About the Applied Language Team</h3>
                    <p class="w3-left">We are the Applied Language Team. Our project
                        is a resource for researchers of Linguistics. This resource conveniently
                        connects the researchers, teachers, students, and native speakers of various
                        languages together.
                    </p>
                    <hr>
                    <h5>Contact Information</h5>
                    <p class="w3-left">University of Montana
                        <br>32 Campus Drive
                        <br>Missoula, MT 59812
                    </p>
                </div>
                <div class="w3-container w3-third w3-white">
                    <img src="Images/sunrise on oval.jpg" alt="University of Montana Oval" width="1100" height="650">
                </div>
            </div>
        </div>
    </div>
</body>

</html>