<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/PAGENAME/CSS/PAGENAME.css">
    <script type="text/javascript" src="../../static/PAGENAME/JS/PAGENAME.js"></script>
    <title>ALT Account Settings</title>
</head>

<body>
  <div class="w3-grey w3-top w3-bottom w3-left w3-right">
      <div class="w3-top w3-left w3-right" style="background-color:#5e001d; height:10.5vh">
          <div class="w3-quarter h-100" style="margin-left:1vw; margin-top:0.5vh">
              <a href="./HomePage.html">
              <img src="Images/alr example logo.jpg" class="w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" alt="ALT Logo">
              <h4 class="home-header">Applied Language Resources</h4>
              </a>
          </div>
      </div>
            <div class="w3-container w3-light-grey" style="margin-top:10.5vh">
                <div class="w3-container">
                    <div class="w3-third">
                        <div class="w3-border">
                            <h3 class="w3-center settings-header">Account Settings</h3>
                            <button class="w3-btn w3-white w3-block w3-leftbar w3-border-red w3-hover-border-green w3-round-xlarge" onclick="displayAccount()">Account</button>
                            <button class="w3-btn w3-white w3-block w3-leftbar w3-border-red w3-hover-border-green w3-round-xlarge" onclick="displayPrivacy()">Privacy</button>
                            <button class="w3-btn w3-white w3-block w3-leftbar w3-border-red w3-hover-border-green w3-round-xlarge" onclick="displayLanguage()">Language</button>
                            <button class="w3-btn w3-white w3-block w3-leftbar w3-border-red w3-hover-border-green w3-round-xlarge" onclick="displayAccessibility()">Accessibility</button>
                            <button class="w3-btn w3-white w3-block w3-leftbar w3-border-red w3-hover-border-green w3-round-xlarge" onclick="displayTerms()">Terms and Conditions</button>
                        </div>
                    </div>
                    <div class="w3-twothird w3-panel w3-leftbar w3-border-blue w3-pale-blue" style="margin-top: 0vh; margin-bottom: 0vh">
                        <p id="changeableText"><br><br<br></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
