<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/PAGENAME/CSS/PAGENAME.css">
    <title>ALT Home Page</title>
</head>

<body>
    <div class="home-body w3-top w3-bottom w3-left w3-right">
        <div class="w3-top w3-left w3-right" style="background-color:#5e001d; height:15vh">
            <div class="w3-third h-100" style="margin-left:1vw; margin-top:3vh">
              <a href="./HomePage.html"><img src="Images/alr example logo.jpg" class="w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" alt="ALT Logo"></a>
            </div>
            <div class="w3-third" style="margin-top:6vh;">
                <h4 class="text-center">Applied Language Resources</h4>
            </div>
        </div>
        <div class="w3-light-grey" style="margin-top:18vh">
            <div class="w3-third">
              <hr>
            </div>
            <div class="w3-container w3-third w3-white w3-round-large">
                <div class="w3-container">
                    <form class="modal-content" action="#">
                        <div class="w3-container">
                            <h1>Login</h1>
                            <p>Please fill in this form to sign in.</p>
                            <hr>
                            <label for="email"><b>Email</b></label>
                            <br>
                            <input type="text" placeholder="Enter Email" name="email" required>
                            <br>
                            <label for="psw"><b>Password</b></label>
                            <br>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                            <br>
                            <hr>
                            <div class="w3-center">
                                <h6>login as</h6>
                                <a href="../rater/evaluatordashboard.html">Evaluator</a>

                                <!-- button later -->
                                <!-- <button type="submit" class="w3-btn w3-green">Sign In</button> -->
                            </div>
                        </div>
                    </form>
                    <div class="w3-center">
                        <a class="w3-btn w3-green" href="../general/SignUp.html">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>