<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.taskbar {
  overflow: hidden;
  background-color: #70392D;
}

.taskbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.taskbar a:hover {
  background-color: #000000;
  color: white;
}

.taskbar a.active {
  background-color: #8C8C8C;
  color: white;
}
</style>
</head>
<body>

  <div class = "taskbar">
        <a href="#home">Home</a>
  </div>


  <div class="taskbar">
    <a href="#viewdata">View Data</a>
    <a class = "active" >Record Audio</a>
    <a href="#uploadaudio">Upload Audio</a>


    <a href="#about">About</a>
  </div>


</body>
</html>
