<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.h1{
  font-size: 70px;
}



.taskbar {
  overflow: hidden;
  background-color: #5e001d;
}

.taskbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.taskbar a:hover {
  background-color: #000000;
  color: white;
}

.taskbar a.active {
  background-color: #8C8C8C;
  color: white;
}
</style>

</head>





<body>

  <div class = "taskbar">
        <a href="HomePage.html">Home</a>

        <a style="float:right;" href="HomePage.html">Sign out</a>
      </div>


  <div class="taskbar">
    <a href="../general/Dashboard.html">Dashboard</a>
    <a href="../general/ViewData.html">View Data</a>
    <a class = "active" >Record Audio</a>
    <a href="../general/UploadAudio.html">Upload Audio</a>
    <a href="../researcher/UsersManagement.html">Manage Contacts</a>
    <a href="../general/AboutUs.html">About</a>
    <a style="float:right;" href="../general/AccountSettings.html">Settings</a>


  </div>



<div style = "text-align: center;">
<h1>Trim Audio</h1>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class = "input">
  <input  style = "float: left; margin: 35px" type = "image" src = "Images/play.jpg" alt = "submit" width="48" height="48">
  <input  style = "float: left; margin: 35px" type = "image" src = "Images/record.jpg" alt = "submit" width="48" height="48">
  <input  style = "float: left; margin: 35px" type = "image" src = "Images/record.jpg" alt = "submit" width="48" height="48">
 <label></label><br>
  <textarea style = "vertical-align: middle;"rows="3" cols="20"></textarea>

  <label></label><br>-
  <textarea style = "vertical-align: middle;"rows="3" cols="20"></textarea>
20px;   padding: 13px 30px;"  >Upload</button>
<button style = "vertical-align: bottom; float: right; margin: 40px;   font-size: 20px;   padding: 13px 30px;"  >Finish Editing</button>
</div>
<div class = "input">
  <label>Title</label>
  <button style = "vertical-align: bottom; float: right; margin: 40px;   font-size: 20px;   padding: 13px 30px;"  >Upload</button>
<button style = "vertical-align: bottom; float: right; margin: 40px;   font-size: 20px;   padding: 13px 30px;"  >Finish Editing</button>
  <input  style = "float: right; margin: 35px" type = "image" src = "Images/play.jpg" alt = "submit" width="48" height="48">
  <input  style = "float: right; margin: 35px" type = "image" src = "Images/record.jpg" alt = "submit" width="48" height="48">
  <label></label><br>
  <textarea style = "vertical-align: middle;"rows="3" cols="20"></textarea>
<br><br>
  <label></label><br>
  <textarea style = "vertical-align: middle;"rows="3" cols="20"></textarea>
  <br><br>

  <br>
  <textarea style = "vertical-align: middle;"rows="1" cols="30"></textarea>
  <br><br>

  <label>Text (origional)</label><br>
  <textarea style = "vertical-align: middle;"rows="3" cols="100"></textarea>
<br><br>
  <label>Text (English)</label><br>
  <textarea style = "vertical-align: middle;"rows="3" cols="100"></textarea>
  <br><br>
  <label>Language</label><br>
  <textarea style = "vertical-align: middle;"rows="1" cols="30"></textarea>


</div>

</body>
</html>
