<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/PAGENAME/CSS/PAGENAME.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: gray;
        }

        .h1 {
            font-size: 70px;
        }
    </style>
    <title>Upload Audio</title>
</head>

<body>
    <div class="w3-top w3-grey" style="height: 100%; overflow-y: scroll;">
        <div class="w3-bar w3-card" style=" background-color: #5e001d; color: white;">
            <a href="../general/HomePage.html"><img src="../general/Images/alr example logo.jpg" class="w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" alt="ALT Logo"></a>
            <h4 class="home-header">Applied Language Resources</h4>
            <br>
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="../general/Dashboard.html" class="w3-bar-item w3-button w3-padding-large">Dashboard</a>
            <a href="../general/ViewData.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">View Data</a>
            <a href="../general/UploadAudio.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Upload Audio</a>
            <a href="../researcher/UsersManagement.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Manage Contacts</a>
            <a href="../general/AboutUs.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <button class="w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="../general/AccountSettings.html" class="w3-bar-item w3-button">Settings</a>
                    <a href="../general/HomePage.html" class="w3-bar-item w3-button">Home Page</a>
                    <a href="../general/HomePage.html" class="w3-bar-item w3-button">Log Out</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <button class="w3-padding-large w3-button" title="More">Views <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button">Researcher</a>
                    <a href="#" class="w3-bar-item w3-button">Rater</a>
                    <a href="#" class="w3-bar-item w3-button">Instructor</a>
                </div>
            </div>
        </div>
        <div style="clear: both">
            <h1 class="w3-left" style="margin-left: 150px">Record Audio</h1>
            <h1 class="w3-center" style="margin-right: 375px; line-height: 75px">Upload Audio</h1>
        </div>
        <hr>
        <div style="margin-left: 1%;" class="input">

                <div style= "float: left;">
                  <img class = "w3-bar-item" style=" margin-left: 1%;" src="Images/seekbar.gif" width="500px" height="100px"></img>
                </div>
                <div style= "float: left;">
                  <input class = "w3-bar-item" style = "float: left; margin-left: 50%;" type="file" name="fileToUpload" id="fileToUpload"></input>
                </div>




            <div class="w3-bar">
                <div class="w3-btn w3-grey" style="margin-left: 165px">
                    <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                    <h4>Play</h4>
                </div>
                <div class="w3-btn w3-grey">
                    <i class="fa fa-microphone fa-3x" aria-hidden="true"></i>
                    <h4>Record</h4>
                </div>
            </div>

            <label style="text-align: center;">Speaker</label>
            <br>
            <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>
            <br><br>

            <label>Text (origional)</label><br>
            <textarea style="vertical-align: middle;" rows="3" cols="100"></textarea>
            <br><br>

            <label>Text (English)</label><br>
            <textarea style="vertical-align: middle;" rows="3" cols="100"></textarea>
            <br><br>
            <label>Language</label><br>
            <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>
            <br>
            <br>
            <a href="../general/TrimAudio.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style = "background-color: white;margin-bottom: 1%;">Upload</a>
            <br>

        </div>

</body>

</html>
