<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ALT AView Data</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .h1{
    font-size: 70px;
  }



  .taskbar {
    overflow: hidden;
    background-color: #5e001d;
  }

  .taskbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .taskbar a:hover {
    background-color: #000000;
    color: white;
  }

  .taskbar a.active {
    background-color: #8C8C8C;
    color: white;
  }
  </style>

</head>

<body>
<div class="w3-container" >
  <div class = "taskbar">
        <a href="#home">Home</a>

        <a style="float:right;" href="#signout">Sign out</a>
  </div>  <!--close acount taskbar-->


  <div class="taskbar">
    <a class = "active" >View Data</a>
    <a href="#recordaudio">Record Audio</a>
    <a href="#uploadaudio">Upload Audio</a>
    <a href="#managecontacts">Manage Contacts</a>
    <a href="#about">About</a>
    <a style="float:right;" href="#settings">Settings</a>

  </div>  <!--close nav taskbar-->
</div> <!--close nav container-->

<div class="w3-container" > <!-- container to enclose the rest of the body, to add margins -->

  <div class="w3-col" style="width:150px">
    <label style="padding: 5 px">Search</label>
    <input class="w3-input w3-border w3-animate-input" type="text" >
  </div> <!--close search area-->
  <div class="w3-rest" style="text-align: center;">
    <h2>View Data</h2>
  </div>  <!--close heading-->

    <div class="w3-responsive">
  <div class = "w3-threequarter">

      <table class="w3-table-all">
            <thead>
              <tr>
                <th class='text-center'> </th>
                <th class='text-center'>User</th>
                <th class='text-center'>Word (Orig)</th>
                <th class='text-center'>Word (Eng)</th>
                <th class='text-center'>Speaker</th>
                <th class='text-center'>Score</th>
                <th class='text-center'>Date</th>
                <th class='text-center'>Review</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="w3-bar">
                    <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                    <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>犬</td>
                <td>dog</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                    <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                    <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>上回る</td>
                <td>outweigh</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                   </div>
                 </td>
                <td>Jill Smith</td>
                <td>犬</td>
                <td>dog</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>上回る</td>
                <td>outweigh</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>犬</td>
                <td>dog</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>上回る</td>
                <td>outweigh</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>犬</td>
                <td>dog</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
              <tr>
                <td>
                  <div class="w3-bar">
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Edit</button>
                      <button class="w3-button w3-tiny w3-white w3-border w3-round">Del</button>
                  </div>
                </td>
                <td>Jill Smith</td>
                <td>上回る</td>
                <td>outweigh</td>
                <td>Jill Smith</td>
                <td>50</td>
                <td>7/20/20</td>
                <td><button class="w3-btn w3-white w3-block w3-border w3-round">Show</button></td>
              </tr>
            </tbody>

      </table>

  </div><!--close table three quarter-->
  <div class="w3-quarter style="padding: 0px">
    <div class="w3-container" style="text-align: center; width: 100%;">
      <div style="display: inline-block; width: 100%;">
        <h3 style="text-align: center">Feedback</h3>
        <textarea rows="10" cols="20" style="border: solid 1px grey; border-radius: 25px; padding: 13px" >
        Great job!
        </textarea>
      </div><!--close inline block div-->
    </div><!--close w3-container-center-->
  </div><!--close w3-quarter-->
      </div><!--close w3-responsive-->
      </div> <!-- close main body container -->
</body>
</html>
