<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ALT Account Settings</title>
  </head>
  <body>
    <div class="w3-grey w3-top w3-bottom w3-left w3-right">
      <div class="w3-top w3-left w3-right">
        <div class="w3-teal">
          <a href="#"><img src="#" alt="LOGO"></a>
          <h5 class="w3-center">Account Settings</h5>
        </div>
        <div class="w3-container w3-light-grey">
          <div class="w3-container">
            <div class="w3-third">
              <div class=" w3-border w3-border-black">
                <h3 class="w3-center">Settings</h3>
                <hr class="w3-black">
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge" onclick="">Account</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">Privacy</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">Data</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">~~~~~</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">~~~~~</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">Sign out</button>
                <button class="w3-btn w3-white w3-block w3-border w3-border-green w3-round-xlarge">Terms and Conditions</button>
              </div>
            </div>
            <div class="w3-twothird w3-border w3-border-black">
              <p>lots of stuff and some toggle buttons or maybe sliders or
                check boxes or something else who knows but this is
                where the settings for any give category will be located,
                some day this will be better but that day is not today.
                <br><br><br><br><br><br><br><br><br><br><br><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
