<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
	<script src="{% static '/js/p5.js'%}"></script>
	<script src="{% static '/js/addons/p5.sound.js'%}"></script>
	<script src="{% static '/js/addons/p5.dom.js'%}"></script>
	  <!-- Load p5 library from CDN,  THIS WAS TOO SLOW  
	//<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
  //<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
  //<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.sound.js"></script>
	-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- LET'S CONSIDER HOSTING THESE ON OUR SERVER-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
  
  <!--  start of script *****************************************************************************
        p5 will automatically call preload, setup and draw.  Draw is called ~50-60 times per second  
        p5 may not play well with other javascript code.  It has a lot of global variables.  It is 
        possible to run in instance mode to mitigate this, if necessary (see p5 website)  -->
  <script >
    console.log('START');
    var soundFile, peaks;
    let state = 0; // state 0: nothing, state 1: recording,  state 2: audio recorded, state 3: overwrite warning  --> change to enum?
    let audio_message, secondStr, tenthsStr, startTimeStr, endTimeStr, clipDurStr;
    audio_message = secondStr = tenthsStr = startTimeStr = endTimeStr = clipDurStr = " ";
    // myE is short for clipStateEnum.  JS doesn't have real enums, but this works.  If speed is an issue, change strings to 1,2,3,4,5 for faster comparison
    let myE = {NOSTART: "no times yet", STARTONLY: "has start time", ENDONLY: "needs start time", DONE: "has start and end time", SAVED: "has been saved to DB"}
    let clipState = myE.NOSTART;
    let myGrey = (200,200,200)
    let audio_background_color = myGrey;
    let recording_time, seconds, ready, playheadTime = 0;
    // These are the positions for the time text on the drawing canvas
    let startMarkPosX = 20;
    let startMarkPosY = 160;
    let endMarkPosX = 120;
    let endMarkPosY = 160;
    let durMarkPosX = 220;
    let durMarkPosY = 160;

    // PRELOAD everything in here finishes before setup and draw run
    function preload() {
      //getAudioContext().resume();
      soundFile = loadSound("{% static '/sounds/french_1.wav'%}");
      console.log('PRELOAD');
      state=2;  //ready to play clip
    }
    // SETUP Run starts before draw, but not guaranteed to finish before draw
    function setup() {
      getAudioContext().resume(); //in the console there is an error that pop up that alerts you to add this 
      console.log('setup1');  // for debugging
      recording_time = 0;  //remnant from upload audio.  turn this into soundFile length?
      var canvas = createCanvas(650, 180);
      canvas.parent('trim_audio_container');
      canvas.style("visibility", "visible");
      background(audio_background_color);
      fill(0,0,0);  //draws in black
      console.log('setup2'); // for debugging
      makePeaks(soundFile);
    }
    // DRAW  Runs ~50 to 60 times per second
		function draw() {
			//getAudioContext().resume();  // I thought I would need this.  Gives a bunch of errors in the console though
			//resizeCanvas(600, 150, true);  // if we dynamically resize canvas, may use this function
			background(audio_background_color);  // need to force a redraw for every frame
			beginShape();  // Draws wave form
			for (i = 0; i < peaks.length; i++) {
				vertex(i, map(peaks[i], -1, 1, height, 0));
			}
			endShape();
      // this if is needed to draw the playhead. Don't want to move playhead if song is paused
			if (soundFile.isPlaying()) {
				playheadTime=soundFile.currentTime();
			}
			drawPlayhead(playheadTime);
      text("Clip start: "+startTimeStr, startMarkPosX, startMarkPosY);
      text("Clip end: "+endTimeStr, endMarkPosX, endMarkPosY);
      text("Clip length: "+clipDurStr, durMarkPosX, durMarkPosY);
		  }


      // getPeaks returns a list of amplitude peaks.  Can take a paramter to make more
      // peaks (looks more detailed then).  Defaults to 5x window size
      function makePeaks(soundFile) {
          peaks = soundFile.getPeaks();
      }
      // This is the red line on the waveform
      function drawPlayhead(playheadTime) {
        noStroke();  // necessary?
        fill(255,0,0);
        rect(map(playheadTime, 0, soundFile.duration(), 0, width), 0, 2, height);
        fill(0,0,0);
      }
		
		// runs when play button is clicked
    function play() {
      getAudioContext().resume();
      console.log(state);  // for debugging
      if (state === 0) {
        audio_message = 'Nothing to play.  Record audio first.';
      } else if (state === 1) {  // this state is a remnant from upload audio
        audio_message = 'Currently recording.  Press the recording icon to stop.';
      } else if (state === 2 || state ===3) {
        audio_background_color = myGrey;
        audio_message = 'Playing.';
        soundFile.play();
        soundFile.playMode("restart")
        soundFile.onended(function() {audio_message = 'Press the Play icon to listen.';})  
        state = 2;       
      }
    }
		
    // runs when pause button is clicked
		function pause() {
			// getAudioContext().resume();  //probably won't need this
      // this if is so if someone presses pause when it is already paused,
      // it doesn't reset playheadTime to zero. Not working right!!!!
			if (soundFile.isPlaying()) {
				playheadTime=soundFile.currentTime();
				soundFile.pause();
			}	
		}
		
    // This function just has some code I copied from p5.  No clue if it is even a 
    // good starting point
    function save_audio() {
      console.log(state);
      try {
        let soundBlob = soundFile.getBlob();
        let serverUrl = 'http://jsonplaceholder.typicode.com/posts';
        let httpRequestOptions = {
          method: 'POST',
          body: new FormData().append('soundBlob', soundBlob),
          headers: new Headers({
            'Content-Type': 'multipart/form-data'
          })
        };
        httpDo(serverUrl, httpRequestOptions);

      }
      catch(err) {
        console.log(err);
      }
      // write to database here
    }
    // timeIt is a remnant from upload audio. May need it later
    function timeIt() {
      // 1 counter = 0.1 second
      recording_time++;
    }

  </script>
  <!--  end of script *****************************************************************************-->
  <style>
    .h1 {
      font-size: 70px;
    }
    #background2 {
       background-image: url('{% static '/imgs/neutralBackground.jpg' %}');
       background-size: cover;
       overflow-y: scroll;
       height: 100%;
     }
     #trim_audio_container {
      min-width: 700px;
      min-height: 200px;
      background-color: #5e001d;
			display: flex;
			align-items: center;
			justify-content: center; 			
			
}

  </style>
  <title>Upload Audio</title>
</head>

<body>
  <div class="w3-top" id="background2">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewData/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="#" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">User Management</a>
          <a href="/rateData/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Data</a> <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- form -->
    <br><br><br><br><br><br><br><br>
    <div class="w3-half">
      
    </div>

<!--Record Audio -->

    <div style="float: center; margin: auto; width: 70%">
      <div id="fancyHeader">
        <br><br>
        <h1>Segment audio file</h2>
      </div>
            <br>
      <div id="trim_audio_container" >
        <!-- p5 canvas is attached to this div here -->
      </div>
      <br>
      <div class="w3-bar">
        <div class="w3-btn">
          <!--- spacing on these buttons is wierd. Leaving it since we may move to dynamic resizing -->
          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true" onclick="play()"></i>
          <h4 id="fancyText">PLAY</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh" onclick="pause()">
          <i class="fa fa-pause-circle fa-3x" aria-hidden="true" onclick="pause()"></i>
          <h4 id="fancyText">Pause</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true" onclick="save_audio()"></i>
          <h4 id="fancyText">Mark Start</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-window-close fa-3x" aria-hidden="true" onclick="save_audio()"></i>
          <h4 id="fancyText">Mark End</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-save fa-3x" aria-hidden="true" onclick="save_audio()"></i>
          <h4 id="fancyText">Save Audio Clip</h4>
        </div>        
      </div>     
    </div>
  </div>
</body>
</html>
