<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
	<script src="{% static '/js/p5.js'%}"></script>
	<script src="{% static '/js/addons/p5.sound.js'%}"></script>
	<script src="{% static '/js/addons/p5.dom.js'%}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- LET'S CONSIDER HOSTING THESE ON OUR SERVER-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
  //*************************  variables **********************************

  console.log('START');
  var soundFile, peaks;
  let recorderState = 0; // state 0: nothing, state 1: recording,  state 2: audio recorded, state 3: overwrite warning  --> change to enum?
  let audio_message, secondStr, tenthsStr, startTimeStr, endTimeStr, clipDurStr;
  audio_message = secondStr = tenthsStr = startTimeStr = endTimeStr = clipDurStr = " ";
  // myE is short for clipStateEnum.  JS doesn't have real enums, but this works.  If speed is an issue, change strings to 1,2,3,4,5 for faster comparison
  let myE = {NOSTART: "no times yet", STARTONLY: "has start time", ENDONLY: "needs start time", DONE: "has start and end time", SAVED: "has been saved to DB", INVALID: "end time < start time"};
  let clipState = myE.NOSTART;
  let myGrey = (200,200,200);
  let audio_background_color = myGrey;
  let recording_time, seconds, ready, zoomCenter, zoomFactor, waveStart, waveEnd, peakStart, peakEnd, playheadTime = 0;
  zoomCenter = 0;
  zoomFactor = 1;
  // These are the positions for the time text on the drawing canvas
  let startMarkPosX = 20;
  let startMarkPosY = 160;
  let endMarkPosX = 120;
  let endMarkPosY = 160;
  let durMarkPosX = 220;
  let durMarkPosY = 160;
  let startTime, endTime;
  var canvasHeight = 180;
  var canvasWidth = ~~(.9 * screen.width);
  let drawBox = 0; //flag to add a box to indicate saved clip
  let drawBoxList = [];
  let clipBoxColor = 'rgba(0,255,0, 0.25)';
  let dragging = false;
  let bigAudioUrl;
  let frameCount = 0;
  let zoomedDuration, peakCount, peakCenter;

  //********************** main p5 functions **********************************

  // PRELOAD everything in here finishes before setup and draw run
  function preload() {
    let message2;
    // added debugging flag so don't have to upload a file every time we refresh
    '{% with debugging=0  %}'
    '{% if debugging %}'
    console.log('debugging');
    soundFile = loadSound("{% static '../media/user_25_big/french_1.wav'%}");
    bigAudioUrl = "{% static '../media/user_25_big/french_1.wav'%}";
    '{% else %}'
    console.log('not debugging');

    //We pass the url for a sound file to this page through the messages from view.py
    '{% if messages %}'
    '{% for message in messages %}'
    message = '{{ message }}';
    message = message.split('/split1/');
    document.getElementById('msg').innerHTML = message[0]
    console.log("msg[1]:  ", message[1])
    console.log("msg[0]:  ",message[0])
    '{% endfor %}'
    '{% endif %}'
    message2 = message[1].split('/split2/');
    console.log("msg2[1]:  ", message2[1])
    console.log("msg2[0]:  ",message2[0])
    if (message2[1] != '-1') {
      document.getElementById('trimCheck'+message2[1]).checked = true;
    }

    bigAudioUrl = message2[0];  //actually the url
    soundFile = loadSound(message2[0]);
    '{% endif %}'
    '{% endwith %}'

    console.log('PRELOAD');
    recorderState=2;  //ready to play clip
  }

  // SETUP Run starts before draw, but not guaranteed to finish before draw
  function setup() {
    console.log('setup started');  // for debugging

    $('#trimAudioForm').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      create_post();
    });
    
    waveStart = 0;
    waveEnd = soundFile.duration();
    console.log("song length: ", waveEnd);
   // Add listener to resize p5 drawing canvas if the window is resized, not working
   // window.addEventListener("resize", change_canvas_size());
    getAudioContext().resume(); //in the console there is an error that pop up that alerts you to add this
    recording_time = soundFile.duration();  
    var canvas = createCanvas(canvasWidth, canvasHeight);
    canvas.parent('trim_audio_container');
    canvas.style("visibility", "visible");
    canvas.mouseReleased(mouse_release);
    background(audio_background_color);
    fill(0,0,0);  //draws in black
    makePeaks(soundFile);  // defines peaks, a list of amplitudes for the soundfile
    peakStart = 0;  // 
    peakEnd = peaks.length; // 
    noStroke();  //i can never undo this.  p5.js Bug?
  //window.onload = function(){
    document.getElementById('formBigAudioURL').value = bigAudioUrl;
    console.log("bigAudioUrl:  ", bigAudioUrl)
    console.log("bigAudioIdType:  ", typeof(bigAudioUrl))
  //};
    console.log('setup finished'); // for debugging
    getThreshData();
    //autoTrim();
  }
  // DRAW  Runs ~50 to 60 times per second
  function draw() {
    //frameCount +=1;
    let peakX, peakY;
    //console.log(dragging) // For debugging, just logs true or false
    //cursor(ARROW)
    //getAudioContext().resume();  // I thought I would need this.  Gives a bunch of errors in the console though
    //resizeCanvas(600, 150, true);  // if we dynamically resize canvas, may use this function
    background(audio_background_color);  // need to force a redraw for every frame
    // if (frameCount % 100 == 0) {
    //     console.log("peakstart, ia:  ", peakStart,  "  ~~:  ", ~~peakStart, "  peakend:  ", peakEnd, "  ~~  ", ~~peakEnd);
    //   }
    beginShape();  // Draws wave form
    for (ia = peakStart; ia < peakEnd-1; ia++) {
      //console.log("peakX");
      peakX = map(ia, ~~peakStart, ~~peakEnd, 0, canvasWidth);
      // if (frameCount % 100 == 0 || ia % 100 == 0) {
      //   console.log("peakY, ia:  ", ia,  "  peeaks ~~ia:  ", ~~ia, "  peaks[ia]:  ", peaks[ia], "  height:  ", height, "  peaks length: ", peaks.length);
      // }
      peakY = map(peaks[ia], 1, -1, height, 0, true);  // making 2 and 3rd #s smaller increases wave height on canvas
      vertex(~~peakX, ~~peakY);
    }
    endShape();
    // playHeadTime is needed to draw the playhead. Don't want to update
    // playHeadTime if song is paused or being dragged
    if (soundFile.isPlaying() && dragging === false) {
      playheadTime=soundFile.currentTime();
    }
    checkCursor();  // changes shape of cursor when dragging
    if (dragging === false) {
      drawPlayhead(playheadTime);
    }
    else {  // moves playHeadTime to match the location of the mouse while dragging
      //console.log("playheadTime line 154");
      playheadTime = map(mouseX, 0,  width, waveStart, waveEnd);
      drawPlayhead(playheadTime);
    }
    //Move this out of draw to speed up?
    text("Clip start: "+startTimeStr, startMarkPosX, startMarkPosY);
    text("Clip end: "+endTimeStr, endMarkPosX, endMarkPosY);
    text("Clip length: "+clipDurStr, durMarkPosX, durMarkPosY);
    //text("Playhead x: "+ map(playheadTime, 0, waveEnd, 0, width).toFixed(2) , durMarkPosX+100, durMarkPosY);
    //text("MouseX: "+ mouseX.toFixed(2), durMarkPosX+220, durMarkPosY);
    rectMode(CORNERS);
    //draws boxes to show saved clips
    for (i = 0; i < drawBoxList.length; i++) {
      if (drawBoxList[i].active == false) {
        fill('rgba(0,255,0, 0.25)');
      }
      else {
        //stroke('rgba(0,255,0, 0.75)');    // TRYING TO UNDO nostroke but doesn[t work]
        //strokeWeight(4);
        fill('rgba(220,20, 60, 0.5)');
        //noStroke();
      }
      //case 1
      if (drawBoxList[i].trimStartTime_/1000 < waveEnd && ((drawBoxList[i].trimStartTime_+drawBoxList[i].trimDuration_)/1000) > waveStart) {
        //console.log("drawbox");
        //rect(scaleBoxTime(drawBoxList[i].trimStartTime_/1000), 0, scaleBoxWidth(drawBoxList[i].trimStartTime/1000, drawBoxList[i].trimDuration_/1000), drawBoxList[i].height_);
        rect(scaleBoxTime(drawBoxList[i].trimStartTime_/1000), 0, scaleBoxTime(drawBoxList[i].trimEndTime_/1000), drawBoxList[i].height_);

      }
      //rect(drawBoxList[i].boxXstart_, 0, drawBoxList[i].boxWidth_, drawBoxList[i].height_);
      fill(0);
    }
  }
  //returns x value based on zoom
  function scaleBoxTime(time) {
    if (time > waveStart && time < waveEnd) {
      return map(time, waveStart, waveEnd, 0, width);
    }
    else if (time <= waveStart) {
      return 0;
    }
    else {
      return width;
    }
  }
  //returns pixel width of duration based on zoom -- NOT WORKING
  function scaleBoxWidth(boxStartTime, duration) {
    if (boxStartTime + duration < waveEnd) {
      let yy = map(boxStartTime + duration, waveStart, waveEnd, 0, width);
      return yy - scaleBoxTime(boxStartTime);
    }
    else {
      //return waveEnd - yy - scaleBoxTime(boxStartTime);
      return width - scaleBoxTime(boxStartTime);
    }
  }
  //***********************  Helper Functions ****************************************************************\
    // TODO
    // function to find the next quiet spot and atumatically make a clip
    // sensitivity function (and slider) for above function
    // make generator function to give new colors for clip boxes--> only useful for overlapping clips?
    // fix save audio
    // work positioning of waveform and dynamic sizing
    // fix drag so it doesn't start playing from the beginning after drag
    // change to single play/pause button
    // fix layout of buttons, canvas
    // make it so when the canvas is clicked it toggles play and pause
    // Make a list of the saved clips so one could be selected and edited
    //    or make boundaries of boxes draggable? or both?
    // Add playback speed control
    //  Add zoom

    //Changes the cursor to a hand when it's close to the playHead
    function checkCursor() {
      //console.log("playheadX , 201, check cursor");
      playHeadX = map(playheadTime, waveStart, waveEnd, 0, width);
      if (mouseX > playHeadX-3 && mouseX < playHeadX+3 && mouseY > 0 && mouseY < height) {
        cursor(HAND);
      } else {
        cursor(ARROW);
      }
    }

    function mousePressed() {
    // Did I click on the playhead? then set dragging to true
    console.log("playheadX , 212, mousepressed");
    playHeadX = map(playheadTime, waveStart, waveEnd, 0, width);
    if (mouseX > playHeadX-3 && mouseX < playHeadX+3 && mouseY > 0 && mouseY < height) {
      dragging = true;
      // prevent default behavior
      return false;
    }
  }

  function mouse_release() {
    // Quit dragging
    if (dragging === true) {
      soundFile.pause();
      dragging = false;
      console.log("playheadtime, 227, mouse_released");
      playheadTime = map(mouseX, 0,  width, waveStart, waveEnd);
      console.log("playheadtime:  "+playheadTime);
      if (playheadTime < waveStart) {playheadTime = waveStart;} // bound check
      else if (playheadTime > waveEnd) {playheadTime = waveEnd-0.2;}
      soundFile.stop();  // jump doesn't work unless you stop it first
      soundFile.jump(playheadTime);
      soundFile.pause();
      soundFile.pauseTime = playheadTime;
    }
    // prevent default behavior
    return false;
  }

    // makeBox finds the coordinates needed to draw a clip box in draw()
    function makeBox() {
      //console.log(endTime);
      let trimDuration, trimStartTime, tempParams;
      //console.log("boxstart , makebox");
      boxXstart = map(startTime, waveStart, waveEnd, 0, width);
      //console.log("boxEnd , makebox");
      boxXend = map(endTime, waveStart, waveEnd, 0, width);
      boxWidth = boxXend - boxXstart;
      trimDuration = ~~((endTime - startTime)*1000) // ~~ converts to an int
      trimStartTime = ~~(startTime*1000);
      trimEndTime = ~~(endTime*1000);
      tempTrimId = drawBoxList.length;
      tempParams = {boxXstart_: boxXstart, boxXend: boxXend, boxWidth_:boxWidth, height_:height,
                  trimStartTime_:trimStartTime, trimEndTime_: trimEndTime, trimDuration_: trimDuration,
                  trimId_: tempTrimId, active: false, saved: false};
      //console.log(tempParams);  //for debugging
      drawBoxList.push(tempParams);
      //Add to the radio list of trims
      //for some reason the last part (label for checkbox) is not getting added to the innerhtml
      var radioHTML = '<tr>' +
        '<td><input type=\"radio\" value=\"' + tempTrimId +
        '\" id=\"trim'+ tempTrimId + '\" name=\"trimRadio\" onclick=\"clipSelected(this.value)\" /> ' +
        '<label for=\"trim'+ tempTrimId + '\"> Trim ' + tempTrimId + ':   '+ startTime.toFixed(2) +
        ' sec. to '+ endTime.toFixed(2) +' sec.' + '</label></td>' +

        '<td> <button class="w3-button w3-tiny w3-white w3-border w3-round"' +
            'onclick="editTrim(' + tempTrimId +')\"" style=\"margin-left: 30px;\" >Edit</button>'+
            // '<button class="w3-button w3-tiny w3-white w3-border w3-round"' +
            // 'onclick="deleteTrim(' + tempTrimId +')">Del</button>'+
            '</td>' +

        '<td><input type="checkbox" id="trimCheck' + tempTrimId + '" name="trimChecks" value="trimCheck' +
              tempTrimId +'\"  style=\"margin-left: 30px;\">' +
              '<label for=\"trimCheck' + tempTrimId +'> Saved </label><br></td>'

        +'</tr>';
      // var labelHTML = ;
      // radioHTML += labelHTML;  <div class="w3-bar">
      
      document.getElementById("listOfTrimsDiv").innerHTML += radioHTML;
      //console.log(document.getElementById("listOfTrimsDiv").innerHTML);  //for debugging
    }  //close makeBox

    function editTrim(trimId) {
      pass;
    }

    function deleteTrim(trimId) {
      pass;
    }

    function clipSelected(clipId) {
      //console.log(clipId);
      drawBoxList.forEach(function(box){
        if (box.trimId_ == clipId) {
          box.active = true;
          console.log("active trim: ", box.trimId_);
          document.getElementById('trimLength').value = box.trimDuration_;
          document.getElementById('formStartTime').value = box.trimStartTime_/1000;
          console.log(box.trimStartTime_)
        }
        else {
          box.active = false;
        }
      });
    }


    function setStartTime() {
      startTime = playheadTime.toFixed(2);
      startTimeStr = startTime,toString()
      setState();  // e.g. valid clip, invalid, beginning time only, end only
    }

    function setEndTime() {
      endTime = playheadTime.toFixed(2);
      endTimeStr = endTime.toString();
      setState(); // e.g. valid clip, invalid, beginning time only, end only
    }

    // called whenever mark start, mark end, are called
    // e.g. valid clip, invalid, beginning time only, end only
    function setState() {
      if (!isNaN(parseFloat(startTimeStr)) && isNaN(parseFloat(endTimeStr))) {
        clipState = myE.STARTONLY;
        clipDurStr = " ";
      }
      else if (isNaN(parseFloat(startTimeStr)) && !isNaN(parseFloat(endTimeStr))) {
        clipState = myE.ENDONLY;
        clipDurStr = " ";
      }
      else if (!isNaN(parseFloat(startTimeStr)) && !isNaN(parseFloat(endTimeStr))) {
        if (parseFloat(startTimeStr) < parseFloat(endTimeStr)) {
          clipState = myE.DONE;
          clipDur = endTime - startTime;
          clipDurStr = clipDur.toString();
        }
        else {
          clipState = myE.INVALID;
          clipDurStr = "End time must be after start time."
          clipDur = -1;
        }
      }
     // console.log(clipState);
    }


    // getPeaks returns a list of amplitude peaks.  Can take a paramter to make more
    // peaks (looks more detailed then).  Defaults to 5x window size
    function makePeaks(soundFile) {
        peaks = soundFile.getPeaks(10*width);  //default is 5*browser window width

        //console.log("peakstart: ", peakStart, "  Peakend: ", peakEnd);
    }
    // This is the red line on the waveform
    function drawPlayhead(playheadTime) {
      if (playheadTime>waveEnd) {
        zoomedDuration = waveEnd - waveStart;
        peakCount = peakEnd - peakStart;
        waveEnd += zoomedDuration;
        peakEnd += peakCount;
        waveStart += zoomedDuration;
        peakStart += peakCount;
      }
      else if (playheadTime<waveStart) {
        zoomedDuration = waveEnd - waveStart;
        peakCount = peakEnd - peakStart;
        waveEnd -= zoomedDuration;
        peakEnd -= peakCount;
        waveStart -= zoomedDuration;
        peakStart -= peakCount;
      }
      waveBounds();
      fill(255,0,0);
      // apparently width, height are p5 automagically created variables descripting canvas.
      //console.log("drawing playhead");
      rectMode(CORNER);
      rect(map(playheadTime, waveStart, waveEnd, 0, width), 0, 2, height);
      fill(0,0,0);
    }




  // runs when play button is clicked
  function play() {
    //getAudioContext().resume();
    soundFile.play();
    soundFile.playMode("untilDone");
    //soundFile.onended(function() {audio_message = 'Press the Play icon to listen.';});
  }

  // runs when pause button is clicked
  function pause() {
    // getAudioContext().resume();  //probably won't need this
    // this if is so if someone presses pause when it is already paused,
    if (soundFile.isPlaying()) {
      playheadTime=soundFile.currentTime();
      soundFile.pause();
    }
  }

  // draws a clip box

  function mark_audio() {
    //Keep this code
    //console.log(clipState);
    //console.log(recorderState);
    // If we have a valid clip, makeBox() will add a clipBox to draw on the waveform
    // to indicate it has been saved
    if (clipState === myE.DONE) {
      //clipState = myE.SAVED;  // not sure where to put this yet
      makeBox();  //Really makeBox coordinaes.  Box is drawn in draw() (box corners are created in this function)
      //javascript to click the submit button?
    }
  }

    // fixme: not working at all
  function change_canvas_size() {
    canvasWidth = .9 * screen.width;
    console.log("changing window size: ", canvasWidth);
    resizeCanvas(canvasWidth, canvasHeight);
  }

  function convertTimetoPeakPosition(playheadTime) {
    let factor =  playheadTime / recording_time;
    return ~~(factor * peaks.length);  // ~~ converts to int
  }

  function zoom_in() {
    zoomedDuration = waveEnd - waveStart;
    peakCount = peakEnd - peakStart;
    if (zoomFactor > 1) {zoomFactor = 1;}
    if (!soundFile.isPlaying()) {
      zoomCenter = playheadTime;
      peakCenter = convertTimetoPeakPosition(playheadTime);
      console.log("peakcener:  ", peakCenter);
      zoomFactor = .75;
      if (zoomFactor < 0.5) {zoomFactor = 1};
      zoomedDuration = zoomFactor * zoomedDuration;
      peakCount = peakCount * zoomFactor;
      waveStart = zoomCenter - .5 * zoomedDuration;
      waveEnd = zoomCenter + .5 * zoomedDuration;
      //peakCenter =  map(playheadTime,waveStart, waveEnd,  )
      peakStart = peakCenter - .5 * peakCount;
      peakStart = Math.floor(peakStart);
      peakEnd = peakCenter + .5 * peakCount;
      peakEnd = Math.floor(peakEnd);
      waveBounds();

     // console.log("playheadtime: ", playheadTime, "  Zoom factor: ", zoomFactor);
     // console.log("zoomed duration: ", zoomedDuration, "  waveStart: ", waveStart, '  waveEnd: ', waveEnd);
     // console.log("peakstart: ", peakStart, "  Peakend: ", peakEnd);
    }
  }

  function zoom_out() {
    zoomedDuration = waveEnd - waveStart;
    peakCount = peakEnd - peakStart;
    if (zoomFactor < 1) {zoomFactor = 1;}
    if (!soundFile.isPlaying()) {
      zoomCenter = playheadTime;
      peakCenter = convertTimetoPeakPosition(playheadTime);
      console.log("peakcener:  ", peakCenter);
      zoomFactor = 1.25;
      if (zoomFactor > 2) {zoomFactor = 1;}
      zoomedDuration = zoomFactor * zoomedDuration;
      peakCount = peakCount * zoomFactor;
      waveStart = zoomCenter - .5 * zoomedDuration;
      waveEnd = zoomCenter + .5 * zoomedDuration;
      //peakCenter =  map(playheadTime,waveStart, waveEnd,  )
      peakStart = peakCenter - .5 * peakCount;
      peakStart = Math.floor(peakStart);
      peakEnd = peakCenter + .5 * peakCount;
      peakEnd = Math.floor(peakEnd);
      waveBounds();


      //console.log("playheadtime: ", playheadTime, "  Zoom factor: ", zoomFactor);
     // console.log("zoomed duration: ", zoomedDuration, "  waveStart: ", waveStart, '  waveEnd: ', waveEnd);
     // console.log("peakstart: ", peakStart, "  Peakend: ", peakEnd);
    }
  }

  function waveBounds() {
    if (waveStart < 0) {
        peakEnd -= peakStart;  // peakStart will be negative, so this will shift peakEnd right
        peakStart = 0;
        waveEnd -= waveStart;
        waveStart = 0;
        if (peakEnd>peaks.length) {
          peakEnd = peaks.length;
          waveEnd = recording_time;
        }
      }
      if (waveEnd > recording_time) {
        peakStart = peakStart - (peakEnd - peaks.length+1);
        peakEnd =  peaks.length;
        if (peakStart < 0) {peakStart =0;}
        waveStart -= (waveEnd - recording_time);
        if (waveStart < 0) {waveStart =0;}
        waveEnd = recording_time;
      }
  }


  function autoTrim() {
    let threshold = 35;
    flag = 0 ;
    start = 0;
    end = 0;
    let sr=soundFile.sampleRate();
    let numSamples = sr * soundFile.duration();
    let samplesPerPeak = numSamples / peaks.length
    let timePerPeak = samplesPerPeak / sr;
    let pauseTime = .3;
    let numPeaksToAverage = ~~(pauseTime / timePerPeak);
    let iz;
    let runningSum = 0;
    startTime = 0;
    endTime = 0;
    for (iz = 0; iz < numPeaksToAverage-1; iz++) {
      runningSum = runningSum + Math.abs(peaks[iz]);
    }
    for (iz =  numPeaksToAverage; iz < peaks.length; iz++) {
      runningSum = runningSum - Math.abs(peaks[iz-numPeaksToAverage]) + Math.abs(peaks[iz]);
      if (runningSum < threshold && flag == 0) {
        flag = 1;
        start = iz;
      }
      else if (runningSum > threshold && flag == 1) {
        flag = 0;
        end = iz;
        endTime =  (start - numPeaksToAverage + end) / 2 * timePerPeak - .125 * pauseTime;
        console.log ("gap at: ", endTime);
        makeBox();
        startTime = endTime + .125 * pauseTime;

      }
    }
  }

  function getThreshData() {
    let threshold =0;
    flag = 0 ;
    peaksCounted = 0;
    end = 0;
    let sr=soundFile.sampleRate();
    let numSamples = sr * soundFile.duration();
    let samplesPerPeak = numSamples / peaks.length
    let timePerPeak = samplesPerPeak / sr;
    let pauseTime = .3;
    let numPeaksToAverage = pauseTime / timePerPeak;
    let izz;
    let runningAve = 0;
    for (izz = 0; izz < peaks.length; izz++) {
      peaksCounted += 1;
      if (peaksCounted < numPeaksToAverage) {
        runningAve = runningAve + Math.abs(peaks[izz]);
      }
      else {
        console.log ("threshold sum: ", runningAve);
        peaksCounted = 0;
        runningAve = 0;
      }
    }
  }

  function clearTrims() {
    drawBoxList = [];
  }





// samplerate * duration = samples
// samples/num of peaks= samples/peak
// samples/peak * sampleRate = time per peak
// 1/2 sec / time per peak = peaks to average
// if running average < some threshold (absolute value of sum of peaks),
// then find the the starting peak of silence, flag silence, when threshold
// is exceeded, flag end peak of silence, divide halfway.
// 1/2 sec and threshold could be parameterized with sliders
  

  </script>


  <!-- <script type="text/javascript" src="{% static '/js/trimAudio.js' %}"></script> -->

  <!--  start of script *****************************************************************************
        p5 will automatically call preload, setup and draw.  Draw is called ~50-60 times per second
        p5 may not play well with other javascript code.  It has a lot of global variables.  It is
        possible to run in instance mode to mitigate this, if necessary (see p5 website)  -->

  <!--  end of script *****************************************************************************-->
  <style>
    .h1 {
      font-size: 70px;
    }
    #background2 {
       background-image: url('{% static '/imgs/neutralBackground.jpg' %}');
       background-size: cover;
       overflow-y: scroll;
       height: 100%;
     }
    #centering {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #trim_audio_container {
      min-width: 700px;
      min-height: 200px;
      background-color: #5e001d;  /*  Go griz!  */
    }
    #buttons {
      text-align: center;
    }
    .icon-bar {
      width: 90%;

      overflow: auto;
    }

    
    .icon-bar .w3-btn {
  float: left;
  width: 50%;
  text-align: center;
  padding: 12px 12px;
  transition: all 0.3s ease;
}

  </style>
  <title>Trim Audio</title>
</head>
<!-- <body onresize="change_canvas_size()"></body> -->
<body>
  <div class="w3-top" id="background2">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewAudio/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Audio</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="/shareAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Share Audio</a>
          <a href="/rateAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Audio</a> <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% endif %}
          <div class="w3-right">
            {% if user.is_authenticated %}
            <p class="w3-left w3-xlarge" style="padding-right: 30px;margin-top: 12px;margin-bottom: 0px;">{{user.username}}</p>
            {% endif %}
            <div class="w3-dropdown-hover w3-hide-small w3-xlarge">
              <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
                <a href="/home/" class="w3-bar-item w3-button">Home</a>
                {% if user.is_authenticated %}
                <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- form -->
    <br><br><br><br><br><br><br><br>
    <div class="w3-half"></div>

    <div style="float: center; margin: auto; width: 90%">
      <div id="fancyHeader">
        <br><br>
        <h1>Segment Your Audio File</h2>
      </div>
      <br>
      <div id="centering">
        <div id="trim_audio_container" >
        <!-- p5 canvas is attached to this div here -->
        </div>
      </div>
      <br>
      <div class="w3-bar" id="buttons">
        <div class="w3-btn">
          <!--- spacing on these buttons is wierd. Leaving it for now since we may move to dynamic resizing -->
          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true" onclick="play()"></i>
          <h4 class="fancyText">Play</h4>
        </div>
        <div class="w3-btn"  onclick="pause()">
          <i class="fa fa-pause-circle fa-3x" aria-hidden="true" onclick="pause()"></i>
          <h4 class="fancyText">Pause</h4>
        </div>
        <div class="w3-btn" >
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true" onclick="setStartTime()"></i>
          <h4 class="fancyText">Mark Start</h4>
        </div>
        <div class="w3-btn" >
          <i class="fa fa-window-close fa-3x" aria-hidden="true" onclick="setEndTime()"></i>
          <h4 class="fancyText">Mark End</h4>
        </div>
        <div class="w3-btn" >
          <i class="fa fa-save fa-3x" aria-hidden="true" onclick="mark_audio()"></i>
          <h4 class="fancyText">Mark Audio Clip</h4>
        </div>
        <div class="w3-btn" >
          <i class="fa fa-search-plus fa-3x" aria-hidden="true" onclick="zoom_in()"></i>
          <h4 class="fancyText">Zoom In</h4>
        </div>
        <div class="w3-btn" >
          <i class="fa fa-search-minus fa-3x" aria-hidden="true" onclick="zoom_out()"></i>
          <h4 class="fancyText">Zoom Out</h4>
        </div>
      </div>
      <br><br>
      <div class="icon-bar">
        <div class="w3-bar" id="buttons2">
          <div class="w3-btn">
            <!--- spacing on these buttons is wierd. Leaving it for now since we may move to dynamic resizing -->
            <i class="fa fa-android fa-2x" aria-hidden="true" onclick="autoTrim()"></i>
            <h4 class="fancyText">Robo-trim</h4>
          </div>
          <div class="w3-btn" >
            <i class="fa fa-minus-circle fa-2x" aria-hidden="true" onclick="onclick=clearTrims()"></i>
            <h4 class="fancyText">Remove All Trims</h4>
          </div>
        </div>
      </div>


    </div>
    <div class="w3-container">
      <div class="w3-half">
        <br>
        <form class="audioForm"  id="trimAudioForm" enctype="multipart/form-data" style="float: left; margin-left: 5vh;">
        <!-- <form class="audioForm"  action="/ajax/postTrimAudio/" enctype="multipart/form-data"  method="post" style="float: left; margin-left: 5vh;"> -->

 
          <table id="trimTable" style="width:100%">
            <thead>
              <!-- can't get headings to line up! -->
              <tr>
                <th> Clip </th> <th> Edit </th>  <th> Saved </th>
              </tr>
            </thead>
            <!-- makeBox() adds innerhtml to this div -->
            <tbody  id="listOfTrimsDiv">
            </tbody>
        </table>

          <!-- <label>Hide me!  (Big-audio id for posting)</label><br> -->
          <input type="hidden" id="formBigAudioURL" name="bigAudioUrl" required></input>
          <br><br>
          <label style="padding: 13px;">Text (original)</label><br>
          <textarea name="original_text" style="vertical-align: middle;" rows="3" cols="75"></textarea>
          <br><br>
          <label style="padding: 13px;">Text (English)</label><br>
          <textarea name="english_text" style="vertical-align: middle;" rows="3" cols="75"></textarea>

          <br><br>
          <label style="padding: 13px;">Score (optional)</label><br>
          <input type="text" name="score" style="vertical-align: middle;"></input>
          <br><br>
          <label style="padding: 13px;">Word Count (Optional)</label><br>
          <input type="text" name="word_count" style="vertical-align: middle;"></input>
          <br><br>
          <label style="padding: 13px;">Length (milliseconds)</label><br>
          <input type="text" name="length" style="vertical-align: middle;" id="trimLength"></input>
          <br><br>
          <input type="hidden" id="formStartTime" name="formStartTime" required></input>
          <input type="hidden" id="formdrawBoxList" name="formdrawBoxList" required></input>
          <button type="submit" class="w3-btn w3-green" id="formUploadButton">Upload Audio Clip</button>
        </form>
      </div>
    </div>
  </div>
  <!-- display a message -->
  {% if messages %}
  {% for message in messages %}
  <div id='success' class="hide max-w-50vw w3-bottom w3-left w3-light-blue">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-large w3-display-topright">&times;</span>
    <h3>Message!</h3>
    <p id='msg'></p>
  </div>
  {% endfor %}
  {% endif %}
  <!--  -->
</body>
  {% if messages %}
  <script>
    document.getElementById('success').style.display = 'block';
  </script>
  {% endif %}
</html>
