<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.sound.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
  <!-- causing an error 

  -->
  <script>
    var song;

    function preload() {
          song = loadSound("{% static '/sounds/french_1.wav'%}");
    }

    function setup() {
      var canvas = createCanvas(800, 200);
      canvas.parent('#wave_visualizer_container');
      background('red');
      fill(0);
    }
    function draw() {
        getAudioContext().resume()
        background('green');
        textSize(24);
        text("hello", 20, 40);
    }

    function mousePressed() {
      if (song.isPlaying()) {
        // .isPlaying() returns a boolean
        song.stop();
        //background(255, 0, 0);
      } else {
        song.play();
        //background(0, 255, 0);
      }
    }


  </script>



  <title>Trim Audio</title>
  <style>
    body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .h1 {
                font-size: 70px;
            }
  </style>
</head>

<body>
<div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewData/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="#" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">User Management</a>
          <a href="/rateData/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Data</a> <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="w3-container w3-center">
      <div >
        <br><br><br>
        <div id="wave_visualizer_container">
          <!-- p5 canvas is attached to this div here -->
        </div>
        
        <br>
        <div class="w3-btn w3-grey">
          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
          <h4>Play</h4>
        </div>
        <div class="w3-btn w3-grey">
          <i class="fa fa-pause-circle-o fa-3x" aria-hidden="true"></i>
          <h4>Pause</h4>
        </div>
        <div class="w3-btn w3-grey">
          <i class="fa fa-stop-circle-o fa-3x" aria-hidden="true"></i>
          <h4>Stop</h4>
        </div>
        <div class="">
          <button class="">Auto-select</button>
          <button class="">Set Start</button>
          <input class="w3-rest w3-panel w3-border w3-round-xlarge" style="max-width:110px" type="text" name="StartTime" value="00:02:43">
          <button>Set stop</button>
          <input class="w3-rest w3-panel w3-border w3-round-xlarge" style="max-width:110px" type="text" name="StopTime" value="00:03:20">
          <button>Clear</button>
        </div>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-half">
        <br>
        <label>Title</label>
        <br>
        <textarea style="vertical-align: middle;"></textarea>
        <br><br>
        <label style="padding: 13px;">Text (original)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="75"></textarea>
        <br><br>
        <label style="padding: 13px;">Text (English)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="75"></textarea>
        <br><br>
        <label style="padding: 13px;">Language</label><br>
        <textarea style="vertical-align: middle;"></textarea>
      </div>
      <div class="w3-half w3-center">
        <br><br><br><br><br><br><br><br>
        <button class="w3-xlarge">Upload</button>
        <br><br>
        <button class="w3-xlarge">Finish Editing</button>
      </div>
      <div class="w3-bottom w3-grey" style="height:20px">
        <!-- filler div -->
      </div>
    </div>
  </div>
</body>

</html>
