<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
  <!-- Load p5 library from CDN,  -->
  <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
  <script src="record_audio.js"></script>
  <style>
    .h1 {
      font-size: 70px;
    }
    #background {
       background-image: url('{% static '/imgs/neutralBackground.jpg' %}');
       background-size: cover;
       overflow-y: scroll;
       height: 100%;
     }
  </style>
  <title>Upload Audio</title>
</head>

<body>
  <div class="w3-top" id="background">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewData/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="#" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">User Management</a>
          <a href="/rateData/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Data</a> <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- form -->
    <br><br><br><br><br><br><br><br>
    <div class="w3-half">
      <form class="audioForm" style="float: left; margin-left: 5vh;">
        <label style="font-weight: bold">Choose a File to Upload:</label>
        <br>
        <input class="w3-bar-item" type="file" name="fileToUpload" id="fileToUpload" style="margin-left:0;"></input>
        <br><br>
        <label style="text-align: center;">Speaker</label>
        <br>
        <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>
        <br><br>
        <label>Text (Original)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
        <br><br>
        <label>Text (English)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
        <br><br>
        <label>Language</label><br>
        <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>
        <br><br>
        <input type="radio" name="private" value="private" style="margin-left:0">
        <label for="private">Private</label><br>
        <input type="radio" name="not_private" value="not_private" style="margin-left:0">
        <label for="not_private">Not Private</label><br>
        <br>
        <!--<button type="submit" class="w3-btn w3-green">Upload</button>-->
        <a href="/viewData/" class="w3-btn w3-green">Upload</a> <!-- Fake Upload button -->
        <br>
        <br>
      </form>
    </div>

<!--Record Audio -->
    <div style="float: right; margin: auto; width: 40%">
      <div id="fancyHeader">
        <h1>Record a New Audio File!!</h2>
      </div>
      <br>
      <div>
        <img class="w3-bar-item" src="{% static '/imgs/seekbar.gif'%}" width="500px" height="100px"></img>
      </div>
      <br>
      <div class="w3-bar">
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-microphone fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">RECORD</h4>
        </div>
        <div class="w3-btn">
          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">PLAY</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-save fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">SAVE</h4>
        </div>
      </div>
    </div>
    <div style="float: right; margin: auto; width: 40%">
      <div id="fancyHeader">
        <h1>Record a New Audio File!!</h2>
      </div>
            <br>
      <div id="record_audio_container">
        <!-- put 5 canvas here -->
        testing
        
        
      </div>
      <br>
      <!--
      <div class="w3-bar">
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-microphone fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">RECORD</h4>
        </div>
        <div class="w3-btn">
          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">PLAY</h4>
        </div>
        <div class="w3-btn" style="margin-left: 10vh">
          <i class="fa fa-save fa-3x" aria-hidden="true"></i>
          <h4 id="fancyText">SAVE</h4>
        </div>
      </div>
      -->
    </div>
    
    
    
    
  </div>
</body>
</html>
