<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Load p5 library from CDN,  -->
  <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.sound.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
  <!--  start of script *****************************************************************************
    p5 will automatically call preload, setup and draw.  Draw is called ~50-60 times per second
    p5 may not play well with other javascript code.  It has a lot of global variables.  It is
    possible to run in instance mode to mitigate this, if necessary (see p5 website)  -->

  <script>
    let mic, recorder, soundFile;

    let state = 0; // state 0: nothing, state 1: recording;  state 2: audio recorded state 3: warned
    let audio_message, second_str = "", tenths_str="";
    let audio_background_color = '#5e001d';  // Go Griz!
    let recording_time, seconds = 0;
    let p5TextSize = 18;
  // SETUP This starts before draw, but not guaranteed to finish before draw.
  // If you need something to finish, make a preload() function
    function setup() {
      recording_time = 0;
      var canvas = createCanvas(500, 100);
      canvas.parent('record_audio_container');
      background(audio_background_color);
      //fill(0);
      fill('white')
      textSize(p5TextSize)
      // if text wrapping is needed, specify a bounding box like
      // text("some long text"", 10, 10, 70, 80);
      audio_message="Click the microphone icon to toggle recording."
      // create an audio in
      mic = new p5.AudioIn();

      // users must manually enable their browser microphone for recording to work properly!
      mic.start();

      // create a sound recorder
      recorder = new p5.SoundRecorder();

      // connect the mic to the recorder
      recorder.setInput(mic);

      // create an empty sound file that we will use to playback the recording
      soundFile = new p5.SoundFile();

          //fft = new p5.FFT();
        //fft.setInput(soundFile);
    }
      function draw() {
        getAudioContext().resume()
        background(audio_background_color);

        text(audio_message, 20, 40);
        if (recording_time == 0) {
          second_str = 0;
          tenths_str = 0; }
        else if (recording_time/10 < 0) {
          second_str = "  ";
          tenths_str = recording_time%10;}
        else {
          second_str = parseInt(recording_time/10);
          tenths_str = recording_time%10;}
        text("Length of recording: "+ second_str + "."+tenths_str + " seconds", 20, 80);
      }

    function record() {
      getAudioContext().resume()
      print(state);
      // use the '.enabled' boolean to make sure user enabled the mic (otherwise we'd record silence)
      if (state === 0 && mic.enabled) {
        // Tell recorder to record to a p5.SoundFile which we will use for playback
        recorder.record(soundFile);
        a_timer = setInterval(timeIt, 100);
        audio_background_color = 'red';
        audio_message = 'Recording now! Click to stop.';
        state = 1;
      } else if (state === 0 && !mic.enabled) {
        audio_background_color = 'orange';
        audio_message = 'You must allow access to your mic';
      } else if (state === 1) {
        recorder.stop(); // stop recorder, and send the result to soundFile
        clearInterval(a_timer)
        audio_background_color = 'green';
        audio_message = 'Press the Play icon to listen.';
        state = 2;
      } else if (state === 2) {
        audio_message = 'You have a recording.  Press record again to re-record.';
        audio_background_color = 'orange';
        state = 3;         // save file
      }
      else if (state === 3) {
        try { soundFile.stop() } // in case it is still playing
        catch(err) {}
        recorder.record(soundFile);
        audio_background_color = 'red';
        audio_message = 'Recording now! Click to stop.';
        state = 1;
        recording_time = 0;
        a_timer = setInterval(timeIt, 100);
      }
    }
    function play() {
      getAudioContext().resume()
      print(state);
      if (state === 0) {
        audio_message = 'Nothing to play.  Record audio first.';
      } else if (state === 1) {
        audio_message = 'Currently recording.  Press the stop icon to stop.';
      } else if (state === 2 || state === 3) {
        audio_background_color = 'green';
        audio_message = 'Playing.';
        soundFile.play();
        soundFile.playMode("restart")
        soundFile.onended(function() {audio_message = 'Press the Play icon to listen.';})
        state = 2;
      }
    }

    // This function just has some code I copied from p5.  No clue if it is even a
    // good starting point  Called by the icon with a disk
    function save_audio() {
      console.log("save_audio()")
      print(state);
      try {
        let soundBlob = soundFile.getBlob();
        // let serverUrl = 'http://jsonplaceholder.typicode.com/posts';
        // let httpRequestOptions = {
        //   method: 'POST',
        //   body: new FormData().append('soundBlob', soundBlob),
        //   headers: new Headers({
        //     'Content-Type': 'multipart/form-data'
        //   })
        // };
        // httpDo(serverUrl, httpRequestOptions);
        document.getElementById('recordingToUpload').value = soundBlob;

      }
      catch(err) {
        print(err)
      }
      // write to database here
    }
    // used to show a stopwatch while recording -probably not needed,
    // if responsiveness lags, try removing it and seeing if responsiveness is improved
    function timeIt() {
      // 1 counter = 0.1 second
      recording_time++;
    }
  </script>
  <script>
  // functions to change icons on click.
    function toggleStop(element) {
      if ((state === 1 || state === 2) && mic.enabled) {
        $(element).toggleClass('far fa-stop-circle');
        var record_text = document.getElementById('record_text');
        if (record_text.innerHTML === "Record") {
          record_text.innerHTML = "Stop";
        }
        else {
          record_text.innerHTML = "Record";
        }
      }
    }
  </script>
  <style>
    .h1 {
      font-size: 70px;
    }
    #background2 {
       background-image: url('{% static '/imgs/neutralBackground.jpg' %}');
       background-size: cover;
       overflow-y: scroll;
       height: 100%;
     } 
  </style>
  <title>Upload Audio</title>
</head>

<body>
  <div class="w3-top" id="background2">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewAudio/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Audio</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="/shareAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Share Audio</a>
          <a href="/rateAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Audio</a> <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- onsubmit="return validatePage()" form -- NOT DONE, so makes execution stop, took it out -->
    <!--  TO DO:
          -post textarea fields
          - make submission possible for recorded audio
    -->

    <br><br><br><br><br><br><br><br>
    <div class="w3-half">
      <form class="audioForm" action="/ajax/postUploadAudio/" enctype="multipart/form-data"  method="post" style="float: left; margin-left: 5vh;">
        <label style="font-weight: bold">Choose a File to Upload:</label>
        <br>
        <input class="w3-bar-item" type="file" name="fileToUpload" id="fileToUpload" style="margin-left:0;"></input>
        <br><br>
        <!-- <label style="text-align: center;">Speaker</label> -->
        <br>
        <label style="font-weight: bold">File Metadata</label>
        <br> <br>
        <!-- <br> -->
        <label>Speaker First Name</label><br>
        <input name="fileSpeakerFirst" style="vertical-align: middle;" rows="3" cols="70"></input>
        <br><br>
        <label>Speaker Last Name</label><br>
        <input name="fileSpeakerLast" style="vertical-align: middle;" rows="3" cols="70"></input>
        <br><br>
        <br><br>
        <label>Text (Original)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
        <br><br>
        <label>Text (English)</label><br>
        <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
        <br><br>
        <label>Language</label><br>
        <!-- <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>  -->
        <!-- make dropdown?  try English or 1-->
        <select type="dropdown" name="fileLanguageId" required>
          <option value="English">English</option>
          <option value="Blackfoot">Blackfoot</option>
          <option value="Japanese">Japanese</option>
          <option value="Spanish">Spanish</option>
          <option value="French">French</option>
          <option value="German">German</option>
          <option value="Chinese">Chinese</option>
        </select>

        <br><br>
        <input type="radio" name="privacy" value="private" style="margin-left:0"></input>
        <label for="private">Private</label><br>
        <input type="radio" name="privacy" value="not_private" style="margin-left:0"></input>
        <label for="not_private">Not Private</label><br>
        <br>
        <button type="submit" class="w3-btn w3-green">Upload File</button>
        <!--<a href="/trimAudio/" class="w3-btn w3-green">Upload</a> --><!-- Fake Upload button -->
        <br>
        <br>
      </form>
    </div>

<!--Record Audio -->

    <div style="float: right; margin: auto; width: 40%">
      <div id="fancyHeader">
        <h1>Record a New Audio File</h2>
      </div>
            <br>
      <div id="record_audio_container">
        <!-- p5 canvas is attached to this div here -->
      </div>
      <br>
      <div class="w3-bar">
        <div class="w3-btn" style="margin-left: 10vh">
          <i id="record" class="fa fa-microphone fa-3x" aria-hidden="true" onclick="record(); toggleStop(this)"></i>
          <h4 id="record_text" class="fancyText">Record</h4>
        </div>
        <div class="w3-btn" style="text-align:center;">
          <i class="fa fa-play-circle-o fa-3x fancyText" aria-hidden="true" onclick="play()"></i>
          <h4 class="fancyText">Play</h4>
        </div>
        <div class="w3-btn" style="margin-right: 10vh">
          <i class="fa fa-save fa-3x fancyText" aria-hidden="true" onclick="save_audio()"></i>
          <h4 class="fancyText">Save Recording</h4>
        </div>
      </div>
    </div>
     <div>
      <br><br><br><br><br><br><br><br>

<!-- *************************     New Form to upload a recording *******************************-->

      <div class="w3-half">
        <form class="audioForm" action="/ajax/postRecordedAudio/" enctype="multipart/form-data"  method="post" style="float: left; margin-left: 5vh;">
          <label style="font-weight: bold">Recording Metadata</label>
          <br>
          <br><br>
          <!-- <label style="text-align: center;">Speaker</label> -->
          <input class="w3-bar-item" type="hidden" name="recordingToUpload" id="recordingToUpload" style="margin-left:0;"></input>
          <!-- <input type="hidden" id="formBigAudioID" name="big_audio_id" required></input> -->
          <!-- <br> -->
          <label>Speaker First Name</label><br>
          <input name="fileSpeakerFirst" style="vertical-align: middle;" rows="3" cols="70"></input>
          <br><br>
          <label>Speaker Last Name</label><br>
          <input name="fileSpeakerLast" style="vertical-align: middle;" rows="3" cols="70"></input>
          <br><br>
          <br><br>
          <label>Text (Original)</label><br>
          <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
          <br><br>
          <label>Text (English)</label><br>
          <textarea style="vertical-align: middle;" rows="3" cols="70"></textarea>
          <br><br>
          <label>Language</label><br>
          <!-- <textarea style="vertical-align: middle;" rows="1" cols="30"></textarea>  -->
          <!-- make dropdown?  try English or 1-->
          <select type="dropdown" name="fileLanguageId" required>
            <option value="English">English</option>
            <option value="Blackfoot">Blackfoot</option>
            <option value="Japanese">Japanese</option>
            <option value="Spanish">Spanish</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="Chinese">Chinese</option>
          </select>
  
          <br><br>
          <input type="radio" name="privacy" value="private" style="margin-left:0"></input>
          <label for="private">Private</label><br>
          <input type="radio" name="privacy" value="not_private" style="margin-left:0"></input>
          <label for="not_private">Not Private</label><br>
          <br>
          <button type="submit" class="w3-btn w3-green">Upload Recording</button>
          <!--<a href="/trimAudio/" class="w3-btn w3-green">Upload</a> --><!-- Fake Upload button -->
          <br>
          <br>
        </form>
      </div>

     </div> 




  </div>
  <!-- display a message -->
  {% if messages %}
  {% for message in messages %}
  <div id='success' class="hide max-w-50vw w3-bottom w3-left w3-light-blue">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-large w3-display-topright">&times;</span>
    <h3>Message!</h3>
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  <!--  -->
</body>
<script>
  '{% if messages %}'
  document.getElementById('success').style.display = 'block';
  '{% endif %}'
</script>
</html>
