<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static 'STYLE SHEET.css' %}"></style>
  <script type="text/javascript" src="{% static 'FILE.js' %}"></script>
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .h1 {
      font-size: 70px;
    }
  </style>

  <title>Evaluator Dashboard</title>
</head>

<body>
  <div class="w3-top w3-grey" style="height: 100%; overflow-y: scroll;">
    <div class="w3-bar w3-card" style=" background-color: #5e001d; color: white;">
      <a href="../general/HomePage.html"><img src="../general/Images/alr example logo.jpg" class="w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" alt="ALT Logo"></a>
      <h4 class="home-header  w3-xlarge">Applied Language Resources</h4>
      <br>
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="../rater/evaluatordashboard.html" class="w3-bar-item w3-button w3-padding-large w3-xlarge">Dashboard</a>
      <a href="../general/ViewData.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
      <a href="../general/UploadAudio.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
      <a href="../rater/RateData.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Data</a>
      <a href="../general/AboutUs.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About</a>
      <div class="w3-dropdown-hover w3-hide-small w3-right w3-xlarge">
        <button class="w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="../general/AccountSettings.html" class="w3-bar-item w3-button">Settings</a>
          <a href="../general/HomePage.html" class="w3-bar-item w3-button">Home Page</a>
          <a href="../general/HomePage.html" class="w3-bar-item w3-button">Log Out</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small w3-right w3-xlarge">
        <button class="w3-padding-large w3-button" title="More">Views <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="../researcher/researcherdashboard.html" class="w3-bar-item w3-button">Researcher</a>
          <a href="../rater/evaluatordashboard.html" class="w3-bar-item w3-button">Rater</a>
          <a href="#" class="w3-bar-item w3-button">Instructor</a>
          <a href="#" class="w3-bar-item w3-button">Student</a>
        </div>
      </div>
    </div>
    <div class="w3-container">
      <!-- container to enclose the rest of the body, to add margins -->
      <div style="text-align: center;">
        <h2>Evaluator Dashboard</h2>
      </div>
      <!--close heading-->
      <div class="w3-responsive">
        <table class="w3-table-all">
          <thead>
            <tr>
              <th class='text-center'>Owner</th>
              <th class='text-center'>Speaker</th>
              <th class='text-center'>Word (Orig.)</th>
              <th class='text-center'>Word (Eng.)</th>
              <th class='text-center'>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jill Smith</td>
              <td>Nate J.</td>
              <td>犬</td>
              <td>dog</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Jill Smith</td>
              <td>Kevin Q.</td>
              <td>犬</td>
              <td>dog</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Jill Smith</td>
              <td>Karen B.</td>
              <td>犬</td>
              <td>dog</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Jill Smith</td>
              <td>Susan G.</td>
              <td>犬</td>
              <td>dog</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Jill Smith</td>
              <td>Jill Smith</td>
              <td>犬</td>
              <td>dog</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
        <td> Logged In: </td>
        <div class="w3-row">
          <td> <button class="w3-button w3-med w3-white w3-border w3-round">N. Chomsky</button></td>
          <td> <button class="w3-button w3-med w3-white w3-border w3-round">F. de Saussure</button></td>
          <td> <button class="w3-button w3-med w3-white w3-border w3-round">S. Pinker</button></td>
          <td> </td>
          <td> </td>
        </div>
      </div>
      <!--close w3-responsive-->
    </div><!-- close main body container -->
  </div>
</body>

</html>
