<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}">

  <title>ALR Eval Login</title>
</head>

<body>
  <div class="w3-container w3-light-grey" id="evalLoginForm" style="padding-top:12vh;">
    <!-- TODO: Validate form fields -->
    <form class="signUpForm" action="/ajax/loginEvalUser/" onsubmit="return validatePage()" method="post">
      <div class="w3-container w3-center">
        <h1>Login</h1>
        <p>Please fill in this form to login.</p>
        <hr>
      </div>
      <div class="w3-third">
        <br>
      </div>
      <div class="w3-third">
        <label for="username"><b>User Name</b></label>
        <input type="text" placeholder="firstname.lastname" name="username" required>
        <br>
        <br>
        <label for="password"><b>Pin</b></label>
        <input type="password" placeholder="1234" name="password" required>
        <br>
        <br>
        <div class="w3-center">
          <button type="submit" class="w3-btn w3-green">Sign In</button>
        </div>
      </div>
      <div class="w3-third">
        <br>

      </div>
    </form>
  </div>
  <div class="">
    <!-- display a message -->
    {% if messages %}
    {% for message in messages %}
    <div id='message' class="hide max-w-50vw w3-bottom w3-left w3-light-blue">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-large w3-display-topright">&times;</span>
      <h3>Message!</h3>
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <!--  -->
  </div>
</body>
{% if messages %}
<script>
  document.getElementById('message').style.display = 'block';
</script>
{% endif %}

</html>
