<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/PAGENAME/CSS/PAGENAME.css">

  <title>Rate Data</title>

  <style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .h1 {
        font-size: 70px;
    }

    .checkboxgroup {
        display: inline-block;
        text-align: center;
    }

    .checkboxgroup label {
        display: block;
    }
  </style>
</head>

<body>
  <div class="w3-top w3-grey" style="overflow-y:scroll;height:100%;">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none"><h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2></a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewData/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="#" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Manage Contacts</a>
          {% endif %}
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container">
      <!-- container to enclose the rest of the body, to add margins -->
      <br>
      <div class="w3-col" style="width:150px">
        <label style="padding:5px">Search</label>
        <input class="w3-input w3-border w3-animate-input" type="text">
      </div>
      <!--close search area-->
      <div class="w3-rest w3-center">
        <h2>Rate Data</h2>
      </div>
      <!--close heading-->

      <div class="w3-responsive" style="padding: 5px">
        <div class="w3-threequarter">
          <table class="w3-table-all">
            <thead>
              <tr>
                <th class='text-center'>Owner</th>
                <th class='text-center'>Researcher</th>
                <th class='text-center'>Text</th>
                <th class='text-center'>Date</th>
                <th class='text-center'></th>
                <th class='text-center'><input class="w3-check" type="checkbox"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td>Jill Smith</td>
                <td>M.Miyashita</td>
                <td>犬</td>
                <td>7/20/20</td>
                <td><button class="w3-button w3-tiny w3-white w3-border w3-round">Rate</button></td>
                <td><input class="w3-check" type="checkbox"></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button class="w3-button w3-med w3-white w3-border w3-round">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!--close table three quarter-->
        <div class="w3-quarter w3-white">
          <div class="w3-container" style=" border-radius: 25px; padding: 0px; border: solid 1px grey; text-align: center">
            <div style="display: inline-block; padding: 0px; width: 100%; ">
              <h6 style="text-align: center">Owner | Researcher</h3>
                <h3 style="text-align: center">J. Smith | M. Miyashita</h3>
                <div style="border: solid 1px grey; border-radius: 5px; padding: 2px">
                  <input style="" type="image" src="Images/play.jpg" alt="submit" width="32" height="32"></input>
                </div>
                <div style="border: solid 1px grey; border-radius: 5px; padding: 2px">
                  <p> 1 - Not native-like <br>
                    2 - Slightly native-like <br>
                    3 - Somewhat native-like <br>
                    4 - Moderately native-like <br>
                    5 - Mostly native-like <br>
                    6 - Almost native-like <br>
                    7 - Native-like 
                </div>
                <!--close input (play button) div-->
                <div style="border: solid 1px grey; border-radius: 5px; padding: 2px">
                  <div class="w3-bar">
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="1">
                      <label for="my_radio_button_id2">1</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="2">
                      <label for="my_radio_button_id2">2</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="3">
                      <label for="my_radio_button_id2">3</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="4">
                      <label for="my_radio_button_id2">4</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="5">
                      <label for="my_radio_button_id2">5</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="6">
                      <label for="my_radio_button_id2">6</label>
                    </div>
                    <div class="checkboxgroup">
                      <input class="w3-radio" type="radio" name="radiorating" value="7">
                      <label for="my_radio_button_id2">7</label>
                    </div>
                  </div><!-- close radio button bar -->
                </div>
                <!--close mystery 000000s div-->
                <div>
                  <h3>Comments</h3>
                  <textarea rows="10" cols="30" style="border: solid 1px grey; padding: 3px; width: 90%;">Great job!</textarea>
                </div>
            </div>
            <!--close inline block div-->
          </div>
          <!--close w3-container-center-->
        </div>
        <!--close w3-quarter-->
      </div>
      <!--close w3-responsive-->
    </div><!-- close main body container -->
  </div>
</body>

</html>
