<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/master.css' %}">
  <script src="{% static '/js/rateData.js' %}" charset="utf-8"></script>

  <title>Rate Data</title>

  <style>
    .h1 {
        font-size: 70px;
    }

    .checkboxgroup {
        display: inline-block;
        text-align: center;
    }

    .checkboxgroup label {
        display: block;
    }

    .checkboxgroup input {
      width: 13px;
      height: 13px;
    }

    #background {
       background-image: url('{% static '/imgs/neutralBackground.jpg' %}');
       background-size: cover;
       overflow-y: scroll;
       height: 100%;
     }
     #ratingBox {
       display: inline-block;
       padding: 0;
       width: 100%;
       text-align: center;
       border-radius: 25px;
       border: solid 1px grey;
     }
     #uploadButton {
       margin-bottom: 1em;
       border: 2px solid black;
       border-radius: 4px;
     }
  </style>
</head>

<body>
  <div class="w3-top w3-grey" id="background">
    <div class="home-background">
      <div class="w3-top" id="navigationBar">
        <a href="/"><img src="{% static '/imgs/alr_example_logo.jpg'%}" class="w3-col w3-circle w3-border-red w3-topbar w3-leftbar w3-rightbar w3-bottombar w3-hover-border-green" style="width:5em" alt="ALT Logo"></a>
        <a href="/" style="text-decoration: none">
          <h2 class="w3-rest" id="mainHeader"> Applied Language Resources </h2>
        </a>
        <br>
        <div class="w3-bar w3-card w3-center" id="navigationButtons">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          {% if user.is_authenticated %}
          <a href="/viewData/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">View Data</a>
          <a href="/uploadAudio/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Upload Audio</a>
          <a href="/userManagement/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">User Management</a>
          <a href="/rateData/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Rate Data</a>
          <!--Need this here for UI testing. Will change later.-->
          {% endif %}
          <a href="/aboutUs/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">About Us</a>
          {% if user.is_anonymous %}
          <a href="/signUp/" class="w3-round w3-bar-item w3-button w3-padding-large w3-hide-small w3-xlarge">Sign Up</a>
          {% endif %}
          <div class="w3-dropdown-hover w3-hide-small w3-right  w3-xlarge">
            <button class="w3-round w3-padding-large w3-button" title="More">Options <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="/home/settings" class="w3-bar-item w3-button">Settings</a>
              <a href="/home/" class="w3-bar-item w3-button">Home</a>
              {% if user.is_authenticated %}
              <a href="/ajax/logoutUser" class="w3-bar-item w3-button">Log Out</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-container">
      <!-- container to enclose the rest of the body, to add margins -->
      <br>
      <div class="w3-col" style="width:150px">
        <label style="padding:5px">Search</label>
        <input class="w3-input w3-border w3-animate-input" type="text">
      </div>
      <!--close search area-->
      <div class="w3-rest w3-center">
        <h2>Rate Data</h2>
      </div>
      <!--close heading-->

      <div class="w3-responsive" style="padding: 5px; margin-top: 10vh;">
        <div class="w3-twothird">
          <table class="w3-table-all" style="width: 99%">
            <thead>
              <tr>
                <th class='w3-center'>Speaker</th>
                <th class='w3-center'>Researcher</th>
                <th class='w3-center'>Text</th>
                <th class='w3-center'>Date</th>
                <th class='w3-center'>Score</th>
                <th class='w3-center'>Select to rate</th>
                <th class='w3-center'>Submit checked <br> <input id="submit_check_all" class="w3-check" onclick="toggle_all()" type="checkbox"></th>
              </tr>
            </thead>
            <tbody>
              <tr id="0">
                <td>Noam</td>
                <td>Chomsky</td>
                <td>dog</td>
                <td class="w3-center">7/20/20</td>
                <td id="score_0" class="w3-center">N/A</td>
                <td class="w3-center"><button class="w3-button w3-tiny w3-white w3-border w3-round" onclick="toggle_rate('0'); document.getElementById('ratingContainer').classList.toggle('hide');">Rate</button></td>
                <td class="w3-center"><input id="submit_check_0" class="w3-check" type="checkbox"></td>
              </tr>
            </tbody>
          </table>
          <button class="w3-button w3-med w3-white w3-border w3-round" style="margin-left:50vw;" onclick="fake_messsage()">Submit Changes</button>

        </div>
        <!--close table three quarter-->
        <div id="ratingContainer" class="w3-third w3-white hide" style="border-radius: 25px;">
          <div class="w3-container" id="ratingBox">
            <!-- <form class="" action="ajax/postRating/" method="POST"> -->
            <div id="Rate_0" class="hide" style="padding: 0px; width: 100%;">
              <h6 style="text-align: center">
                <b class="w3-third">Speaker</b>
                <b class="w3-third">|</b>
                <b class="w3-third">Researcher</b>
              </h6>
              <h6 style="text-align: center">
                <b class="w3-third">Speaker-Name</b>
                <b class="w3-third">|</b>
                <b class="w3-third">Researcher-Name</b>
              </h6>
              <div>
                <p class="w3-third">1 <br> Not native-like</p>
                <p class="w3-third">4 <br> Moderately native-like</p>
                <p class="w3-third">7 <br> Native-like</p>
              </div>
              <!--close input (play button) div-->
              <div>
                <div class="w3-bar">
                  <table>
                    <thead>
                      <tr>
                        <th><b style="margin-left:2em">1</b></th>
                        <th><b style="margin-left:2em">2</b></th>
                        <th><b style="margin-left:2em">3</b></th>
                        <th><b style="margin-left:2em">4</b></th>
                        <th><b style="margin-left:2em">5</b></th>
                        <th><b style="margin-left:2em">6</b></th>
                        <th><b style="margin-left:2em">7</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input id="radio_0_1" type="radio" name="radiorating" value="1"></td>
                        <td><input id="radio_0_2" type="radio" name="radiorating" value="2"></td>
                        <td><input id="radio_0_3" type="radio" name="radiorating" value="3"></td>
                        <td><input id="radio_0_4" type="radio" name="radiorating" value="4"></td>
                        <td><input id="radio_0_5" type="radio" name="radiorating" value="5"></td>
                        <td><input id="radio_0_6" type="radio" name="radiorating" value="6"></td>
                        <td><input id="radio_0_7" type="radio" name="radiorating" value="7"></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div class="w3-third">
                        <div class="w3-third">
                          <input id="radio_0_1" type="radio" name="radiorating" value="1">
                          <label for="radiorating">1</label>
                        </div>
                        <div class="w3-third">
                          <input id="radio_0_2" type="radio" name="radiorating" value="2">
                          <label for="radiorating">2</label>
                        </div>
                        <div class="w3-third">
                          <input id="radio_0_3" type="radio" name="radiorating" value="3">
                          <label for="radiorating">3</label>
                        </div>
                      </div> -->
                  <!-- <div class="w3-third">
                        <label for="radiorating">4</label>
                        <br>

                      </div> -->
                  <!-- <div class="w3-third">
                        <div class="w3-third">
                          <input id="radio_0_5" type="radio" name="radiorating" value="5">
                          <label for="radiorating">5</label>
                        </div>
                        <div class="w3-third">
                          <input id="radio_0_6" type="radio" name="radiorating" value="6">
                          <label for="radiorating">6</label>
                        </div>
                        <div class="w3-third">
                          <input id="radio_0_7" type="radio" name="radiorating" value="7" placeholder="7">
                          <label for="radiorating">7</label>
                        </div>
                      </div> -->
                </div><!-- close radio button bar -->
              </div>
              <div class="" style="border: solid 1px grey; border-radius: 5px; padding: 2px">
                <!-- Audio Controls -->
                <!--Audio Controls will be here-->
              </div>
              <div>
                <h3>Comments</h3>
                <textarea rows="2" cols="30" style="border: solid 1px grey; padding: 3px; width: 90%;" placeholder="Great job!"></textarea>
              </div>
              <input type="submit" class="w3-btn w3-green" id="uploadButton" value="Save" onclick="add_rating('0')"></input>
            </div>
            <!--close inline block div-->

            <!-- </form> -->
          </div>
          <!--close w3-container-center-->
        </div>
        <!--close w3-quarter-->
      </div>
      <!--close w3-responsive-->
    </div><!-- close main body container -->
    <!-- display a message -->

    <!-- message currently fake -->
    {% if messages %}
    {% for message in messages %}
    <div id='message' class="hide max-w-50vw w3-bottom w3-left w3-light-blue">
      <span onclick="this.parentElement.style.display = 'none';" class="w3-button w3-hover-red w3-large w3-display-topright">&times;</span>
      <h3>Message!</h3>
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <!--  -->
  </div>
</body>
{% if messages %}
<script>
  document.getElementById('message').style.display = 'block';
</script>
{% endif %}

</html>
